* {
  margin: 0;
  top: 0;
}

.Homepage_container {

  display: flex;
  justify-content: center;

}

.Homepage_main_container {
  display: flex;

  width: 90%;
  height: 95vh;

  margin-top: 2.5vh;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  /* box-shadow: 10px black; */


}

.Homepage_image_container {
  width: 50%;
  /* border: 1px solid green; */
  border-radius: 10px 0px 0px 10px;
  /* position:absolute; */
}

.Homepage_login_container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 0px 10px 10px 0px;

}

.Homepage_image {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  filter: blur(3px);
  /* Add this line to blur the image */
}

.logo {
  width: 3rem;
  /* border: 10px solid green; */
}

@font-face {
  font-family: title;
  src: url("./res/fonts/Museo_Slab_500italic.otf");
}

.title {
  font-family: title;
  margin-top: 10px;

}

.login_container {
  /* margin-top: 20px; */
  width: 65%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  /* border: 1px solid black; */
}

.login_container p{
  align-self: flex-start;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 12px;
}

.login_fields input {
  position: relative;
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #888;
}

.login_container input:focus {
  outline: none;
  /* border: 2px; */
  border-color: #6d95d7;
}

input:focus::-webkit-input-placeholder {
  /* For webkit browsers */
  color: transparent;
}

.login_container button {
  width: 80%;
  padding: 10px;
  background-color: #3b71ca;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}

.registration_container {
  display: flex;
  flex-direction: column;
  width: 53%;
  /* overflow: scroll; */

}

.registration_menu {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 40%;  */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.backArrow {
  padding: 5px 10px;
  font-size: 25px;
  cursor: pointer;

  /* border: 1px solid black; */
  background-color: #f7f7f7;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
  /* font-weight: 800; */
  /* width: 10%; */
  /* border: 1px solid red; */

}

.registration_menu button {
  width: 48%;
  padding: 5px 10px;
  font-size: 28px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: #f7f7f7;
  color: #767c80;

}

.Student_container {
  width: 80%;
  height: fit-content;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* overflow:scroll; */
  /* justify-content: space-evenly; */

}




.description{
  width: 92%;
  height: 80px;
  font-size: 15px;
  word-wrap: break-word ;
  padding: 10px;
  border: 1px solid #888;

  
  background-color:#e3ebf7 ;
  outline: none;
  color: #54679a;
  border: none;
  border-radius: 10px;
}

.description:focus{
  outline: none;
  /* border: 2px; */
  border-color: #6d95d7;
}



































.checkbox-wrapper-6 .tgl {
  display: none;
}

.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl+.tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl+.tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-6 .tgl+.tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-6 .tgl+.tgl-btn:after,
.checkbox-wrapper-6 .tgl+.tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-wrapper-6 .tgl+.tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-6 .tgl+.tgl-btn:before {
  display: none;
}

.checkbox-wrapper-6 .tgl:checked+.tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-6 .tgl-light+.tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}

.checkbox-wrapper-6 .tgl-light+.tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.checkbox-wrapper-6 .tgl-light:checked+.tgl-btn {
  background:  #54679a	;
}



.student_container {

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 90%;

}


.registration_input {
  display: flex;

  background-color:#e3ebf7;
  font-family: 'Poppins', sans-serif;
  color: #54679a;
  font-size: 14px;
  padding: 7px;
  
  border-radius: 10px;

}


.registartion_image {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  align-self: center;
}
.registration_input input {
  outline: none;
  border: none;
  background-color:#e3ebf7;
  width: 300px;
  

}

#registration_button {
  margin-top: 20px;
  align-self: flex-start;
  width: 22%;
  padding: 13px;
  background-color: #54679a;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  /* margin-left: 45px; */
}


.checker p {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 12px;
}

.checker{
  margin-bottom: 20px;
}

.otp-input-container {
  display: flex;
  gap: 10px;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.otp-input-container {
  display: flex;
  gap: 8px;
}

.otp-input-field {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resend-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resend-button:hover {
  background-color: #0056b3;
}

#big-box {
 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-align-items: center;
}



.otp-message {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}


.navBar_container{
  width: 100%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
}
 .item1{
  
  align-self: flex-start;
  display: flex;

}
.item1 img{
  width: 60px;
  height: 60px;

}
.item2{
 
  display: flex;
  align-self: flex-end;
  /* background-color: gray; */
  height: 60px;
  align-items: center;
  
}

.item2 div{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  color: #999999;
  font-weight: 800;
  margin-right: 40px;
  cursor: pointer;
}





